<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template_layui :: header(~{::title},~{::link},~{::style})">
	<title>后台管理首页</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<!-- 导航栏 -->
	<div class="layui-header">
		<a href="#" class="layui-logo">
			<span class="layui-logo-mini">RuoYi</span>
			<span class="layui-logo-lg">RuoYi 后台</span>
		</a>
		<a class="side-toggle layui-layout-left" href="#">
			<i class="layui-icon layui-icon-shrink-right"></i>
			<i class="layui-icon layui-icon-spread-left"></i>
		</a>
		<ul class="layui-nav layui-layout-right">
			<!--<li class="layui-nav-item timy-search">
              <input class="timy-search-input" type="search" placeholder="搜索">
              <button class="timy-search-button"><i class="fa fa-search"></i></button>
            </li>-->
			<li class="layui-nav-item">
				<a href="#">
					<i class="fa fa-bell-o fa-lg"></i>
				</a>
			</li>
			<li class="layui-nav-item">
				<a class="timy-screen-full" href="#">
					<i class="fa layui-icon layui-icon-screen-full"></i>
				</a>
			</li>
			<li class="layui-nav-item timy-nav-user">
				<a class="timy-header-nickname" th:text="${user.userName}">SIBO</a>
				<div class="layui-nav-child">
					<div class="timy-nav-child-box">
						<div>
							<a class="open-popup" data-title="个人信息" th:attr="data-url=@{/system/user/profile}" data-size="680,464">
								<!----><i class="fa fa-user-o"></i>个人信息</a>
						</div>
						<div>
							<a class="open-popup" data-title="修改密码" th:attr="data-url=@{/system/user/profile/resetPwd}" data-size="456,295">
								<!-- --><i class="fa fa-lock" style="font-size:17px;width:12px;"></i>修改密码</a>
						</div>
						<div><a th:href="@{/logout}"><i class="fa fa-power-off"></i>退出登录</a></div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- 侧边栏 -->
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<div class="layui-side-user">
				<img class="layui-side-user-avatar" th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{/profile/avatar/} + ${user.avatar}" alt="头像">
				<div>
					<p class="layui-side-user-name" th:text="${user.userName}">SIBO</p>
					<p class="layui-side-user-designation">在线</p>
				</div>
			</div>
			<!-- 导航区域 -->
			<ul class="layui-nav layui-nav-tree" lay-filter="layui-nav-side">
				<li class="layui-nav-item">
					<a href="javascript:;" lay-url="/system/main">
						<i class="layui-icon layui-icon-home"></i>
						<span class="layui-nav-title">主页</span>
					</a>
				</li>
				<!--=====================-->
				<li class="layui-nav-item" th:each="item:${menus}">
					<a href="javascript:;" th:attr="lay-url=@{${item.url}}">
						<i th:class="${item.icon}"></i>
						<span class="layui-nav-title" th:text="${item.menuName}">一级菜单</span>
					</a>
					<dl class="layui-nav-child" th:if="${item.children.size()}">
						<dd th:each="subItem:${item.children}">
							<a href="javascript:;" th:attr="lay-url=@{${subItem.url}}">
								<span class="layui-nav-title" th:text="${subItem.menuName}">二级菜单</span>
							</a>

							<!--=====================-->
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<!-- 主体区域 -->
	<div class="layui-body layui-tab layui-tab-brief" lay-allowclose="true" lay-filter="iframe-tabs">
		<!-- 标签栏 -->
		<ul class="layui-tab-title"></ul>
		<!-- 内容区域 -->
		<div class="layui-tab-content"></div>
	</div>
</div>
<script th:replace="template_layui :: script"></script>
</body>
</html>
